{% extends 'base.html' %}


{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Shipping</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update billing address</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 flex-1">
            <br>
                <form method="POST" action="{% url 'shipping' %}">
                    {% csrf_token %}
            
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                        {% endif %}
                        {% if field.errors %}
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- {{ form.as_p }} -->
                    <br>
                    <button type="submit" class="btn btn-primary float-right">Update</button>
                </form>
            <br><br>
        </div>
    </div>
</div>

{% endblock content %}