{% extends 'base.html' %}


{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shoping cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">This is your cart</p>
            </div>
        </div>
    </header>
    <div class="container">
        <br>
        
        {% if products %}
            {% for product in products %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <br>
                                    <p class="card-text">{{ product.description }}</p>
            
                                    {% if product.is_sale %}
                                        <strike style="opacity: 50%;">${{ product.price }}</strike>
                                        ${{ product.sale_price }}
                                    {% else %}
                                        ${{ product.price }}
                                    {% endif %}
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-md-2">Quantity:</div>
                                        <div class="col-md-2">
                                            <select id="quantity{{ product.id }}" data-id="{{ product.id }}" class="form-select form-select-sm select_quantity">
                                                <option selected>
                                                    {% for key, value in quantities.items %}
                                                        {% if key == product.id|slugify %}
                                                            {{ value }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="button" data-id="{{ product.id }}" class="btn btn-danger float-right delete_product">Delete</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="flexrow" style="justify-content: space-between;">
                <h3>Total: ${{ total }}</h3>
                <a href="{% url 'checkout' %}" class="btn btn-success float-right">Checkout</a>
            </div>
            <br><br>
        {% else %}
            <h1>There is nothing in your cart</h1>
            <a href="{% url 'home' %}" class="btn btn-secondary float-right">Find products</a>
        {% endif %}
            
    </div>

    <script>
        $(document).on('change', '.select_quantity', function(e) {
            e.preventDefault();
            var product_id = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: "{% url 'cart_update' %}",
                data: {
                    product_id: product_id,
                    quantity: $(`#quantity${product_id} option:selected`).text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(response) {
                    location.reload();
                },
                error: function(xhr, errmsg, err) {

                }
            });
        });

        $(document).on('click', '.delete_product', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cart_delete' %}",
                data: {
                    product_id:  $(this).data('id'),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(response) {
                    location.reload();
                },
                error: function(xhr, errmsg, err) {

                }
            });
        });
    </script>

{% endblock content %}