{% extends 'base.html' %}


{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce Shop</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et convallis justo, ut finibus leo.
                    Mauris accumsan aliquam facilisis. Phasellus elit ligula, volutpat vel placerat sit amet, facilisis
                    vitae odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris placerat interdum commodo.
                    Praesent pulvinar laoreet odio in ornare. Proin finibus pellentesque nisl, id scelerisque enim
                    suscipit non. Sed aliquam non urna nec volutpat. Donec vel nunc elit. Nam vitae arcu facilisis,
                    facilisis purus ut, tempor nisl. Nullam elementum ac turpis sed feugiat. Donec enim nibh, maximus id
                    finibus et, pulvinar dictum erat. Morbi eu ultrices massa. Etiam tristique suscipit purus.
                    <br><br>
                    Vestibulum sit amet libero porta, malesuada diam eu, rutrum urna. Vivamus ornare iaculis blandit.
                    Praesent molestie eros neque, at blandit ipsum elementum a. Donec nulla dui, iaculis eget aliquet
                    vel, porta et lorem. Duis efficitur porttitor justo, in elementum tortor auctor id. Ut sapien nisi,
                    malesuada ac enim at, dapibus interdum ex. Donec et porta leo. Integer congue vel risus vitae
                    sagittis. Nunc imperdiet et lacus lacinia vestibulum. Cras ullamcorper est eget est convallis
                    efficitur. Vivamus congue ullamcorper finibus. Mauris suscipit ullamcorper lacus. In fermentum
                    ligula sed nunc consequat lacinia. Proin id tincidunt dui. Nam nec semper dolor. Suspendisse commodo
                    mauris et enim viverra lobortis.
                    <br><br>
                    Vivamus iaculis ligula elit, imperdiet rhoncus ex auctor a. Pellentesque laoreet, ligula a efficitur
                    rhoncus, tellus nisl porttitor sem, sit amet varius sem urna at eros. Phasellus iaculis enim non
                    magna tempor sodales. Integer rutrum commodo dui nec vulputate. Nam non magna sapien. Sed nec ligula
                    in odio tempor lacinia a eget nibh. Praesent placerat est vitae interdum mattis. Maecenas
                    scelerisque, diam vel vestibulum ultricies, felis lorem lobortis quam, scelerisque gravida metus
                    nisl id sapien.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock content %}
