{% extends 'base.html' %}


{% block content %}

<div class="container">
    <br><br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <br>
                        <p class="card-text">{{ product.description }}</p>

                        {% if product.is_sale %}
                            <strike style="opacity: 50%;">${{ product.price }}</strike>
                            ${{ product.sale_price }}
                        {% else %}
                            ${{ product.price }}
                        {% endif %}
                        <br><br>
                            <div class="row justify-content-center">
                                <div class="col-md-2">Quantity:</div>
                                <div class="col-md-2">
                                    <select id="quantity" class="form-select form-select-sm">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        <br>
                        <a href="{% url 'home' %}" class="btn btn-secondary float-right">Back</a>
                        <button type="button" id="cart_add" value="{{ product.id }}" class="btn btn-secondary">Add to cart</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#cart_add', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $('#cart_add').val(),
                quantity: $('#quantity option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(response) {
                // console.log(response)
                document.getElementById('cart_quantity').textContent = response.quantity;
                location.reload();
            },
            error: function(xhr, errmsg, err) {

            }
        });
    });
</script>

{% endblock content %}